NODE_ENV=development
PORT=3000

DB_URI=mongodb://localhost:27017/salamtak
DB_CONNECTION_TIMEOUT_MS=10000

HOST=smtp-relay.brevo.com
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_FROM=Salamtak App <verified_sender@example.com>
EMAIL_USER=replace_with_brevo_smtp_login
EMAIL_PASSWORD=replace_with_brevo_smtp_key

ACCESS_SIGNATURE=replace_me
REFRESH_SIGNATURE=replace_me
BEARER=Bearer
JWT_SECRET=replace_me

TWILIO_PHONE_NUMBER=replace_me
TWILIO_ACCOUNT_SID=replace_me
TWILIO_AUTH_TOKEN=replace_me
